#header {
	color: white;
	font-family: iconFont;
	background-color: #0A8F08
}

#quote {
	margin-top: 0.8em;
	font-size: 2em;
	font-style: bold;
}

#author {
	/*font-size: 75%;*/
	font-style: italic;
	margin-bottom: 1em;
}

#mainfeed {
	margin: 0%;
	font-family: iconFont;
	text-align: center;
}

.top-bar {
	color: white;
	font-family: iconFont;
	background-color: #0A8F08;
	height: auto;
	padding-top: .5em;
	padding-bottom: .5em;
}

.navbarimg {
	width: 3.5em;
	height: 3.5em;
}

.logo {
	width: 15em;
	height: 8em;
	text-align: left;
}

object {
	pointer-events: none;
}

.svg { 
	display: block;
}

.right {
	text-align: right;
	display: block;
}

.photo {
	width: 100%;
	height: 100%;
}

.header {
	
}
