body {
	background-color: #DBDAD8;
	font-family: Helvetica, Arial, sans-serif;
}

#header {
	color: white;
	background-color: #0A8F08;
	padding-top: .5em;
}

#quote {
	font-size: 2em;
	font-style: bold;
}

#author {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 4em;
}

#feed {
	margin: 0%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 640px;
}

.card {
	background-color: white;
	margin-top: 1em;
	box-shadow: 0.1em 0.1em 0.8em #888888;
}

p strong {
	font-style: normal;
	color: gray;
	font-weight: 200;
	font-size: 1em;
	margin: 0.5em;
}

p {
	font-style: normal;
	color: silver;
	font-weight: 200;
	font-size: 1em;
}

.commentsAndLikes p {
	color: black;
}

.commentsAndLikes {
	background-color: white;
}

.iconBorder {
	border: solid;
	border-width: .1em;
	border-radius: 5px;
	color: silver;
	position: relative;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 1.3em;
}

.iconBorder img{
	margin: 0.2em;
	margin-right: 0;
}

.iconBorder span{
	margin: 0.2em;
	margin-left: 0;
}

.top-bar {
	color: white;
	background-color: #0A8F08;
	height: auto;
	padding-top: .5em;
	padding-bottom: .5em;
}

.navbarimg {
	width: 3.5em;
	height: 3.5em;
}

.logo {
	width: 12em;
	height: 6em;
	text-align: left;
	margin-top: .2em;
}

object {
	pointer-events: none;
}

.svg { 
	display: block;
}

.right {
	text-align: right;
	display: block;
}

.shareIcon {
	width: 3em;
	height: 3em;
	padding-top: .5em
}

a {
	color: white;
	background-color: #0A8F08;
}

a:hover {
	text-decoration: underline;
	color: white;
}

.float-right {
	float: right;
	width: 3em;
	text-align: right;
	margin: .3em;
	font-weight: 200;
}

.stretch {
	letter-spacing: .03em;
}

.footerContainer {
	margin-top: 1em;
	margin-bottom: 1em;
	box-shadow: 0.1em 0.1em 0.8em #888888;
	background-color: #0A8F08;
	text-align: left;
}

.upperFooter {
	background-color: #0A8F08;
}

.lowerFooter {
	background-color: #F8F2DC;
}

.upperFooter p {
 	color: white;
 	margin-top: 1em;
 	margin-bottom: 3em;
 	font-size: 1em;
 	font-weight: 200;
}

.upperFooter h4 {
	color: white;
	margin: 0;
	font-weight: 300;
}

.lowerFooter h4 {
	color: #313131;
	margin: 0;
	font-weight: 300;
}

.lowerFooter p {
	color: #313131;
	margin-top: 1em;
	margin-bottom: 2em;
	font-size: 1em;
	font-weight: 200;
}

.footerFloatLeft {
	position: relative;
	display: inline-block;
	width: 66%;
	margin-left: 1.5em;
	margin-top: 2em;
}

.footerFloatRight {
	position: relative;
	display: inline-block;
	width: 25%;
}

.footerLogo {
	height: 8em;
	width: 8em;
}

.lowestFooter {
	text-align: left;
	margin-left: 1.5em;
	margin-top: 2em;
}

.lowestFooter p {
	padding-bottom: 2em;
}

hr {
	margin-left: 2%;
	margin-bottom: 0em;
	margin-top: 0em;
	width: 96%;
	border-color: #313131;
}

small {
	font-weight: 200;
	size: .1em;
	color: #313131;
	text-align: right;
}