body {
	background-color: #DBDAD8;
	font-family: Helvetica, Arial, sans-serif;
	/*background: transparent url("img/SVGbrand_spocket_logotypewsymbol.svg") fixed no-repeat 30px 30px;*/
}

#header {
	color: white;
	background-color: #0A8F08;
	padding-top: .5em;
/*	background: orange url("img/SVGic_share_AND.svg") fixed no-repeat 30px 30px;
	overflow: hidden;
	padding: 30px 0 30px 30px;
	height: 138px;*/
}

#quote {
	font-size: 2em;
	font-style: bold;
}

#author {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 4em;
}

#feed {
	margin: 0%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 640px;
}

.card {
	background-color: white;
	margin-top: 1em;
	box-shadow: 0.1em 0.1em 0.8em #888888;
}

p strong {
	font-style: normal;
	color: gray;
	font-weight: 200;
	font-size: 1em;
	margin: 0.5em;
}

p {
	font-style: normal;
	color: silver;
	font-weight: 200;
	font-size: 1em;
}

.commentsAndLikes p {
	color: black;
}

.commentsAndLikes {
	background-color: white;
}

.iconBorder {
	border: solid;
	border-width: .1em;
	border-radius: 5px;
	color: silver;
	position: relative;
	display: inline-block;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 1.3em;
}

.iconBorder img{
	margin: 0.2em;
	margin-right: 0;
}

.iconBorder span{
	margin: 0.2em;
	margin-left: 0;
}

.top-bar {
	color: white;
	background-color: #0A8F08;
	height: auto;
	padding-top: .5em;
	padding-bottom: .5em;
}

.navbarimg {
	width: 3.5em;
	height: 3.5em;
}

.logo {
	width: 15em;
	height: 8em;
	text-align: left;
}

object {
	pointer-events: none;
}

.svg { 
	display: block;
}

.right {
	text-align: right;
	display: block;
}

.shareIcon {
	width: 3em;
	height: 3em;
	padding-top: .5em
}

a {
	color: white;
	background-color: #0A8F08;
}

a:hover {
	text-decoration: underline;
	color: white;
}

.float-right {
	float: right;
	width: 3em;
	text-align: right;
	margin: .3em;
}

.stretch {
	letter-spacing: .03em;
}
